@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main-game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem $padding-margin-between-mobile;

  gap: 1rem;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem $padding-margin-between-tablet;
  }

  @include desktop {
    padding: 1rem $padding-margin-between-desktop;
  }

  .game-holder {
    width: 100%;
    height: 50%;
    background-color: $secondary-medium;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: $padding-margin-between-components-mobile;

    @include desktop {
      width: 56%;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      padding: $padding-margin-between-components-tablet;
    }
  }

  &__details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      width: 47%;
    }
    @include desktop {
      width: 40%;
    }
  }

  &__comments {
    width: 100%;
    background-color: $secondary-medium;
    border-radius: $border-radius;
    padding: $padding-margin-between-components-mobile;

    @include tablet {
      order: 2;
      padding: $padding-margin-between-components-tablet;
    }

    @include desktop {
      width: 56%;
      order: 0;
    }
  }

  .all-game__item {
    @include desktop {
      width: 44%;
    }
  }
}

.main-games {
  width: 100%;
  background-color: $secondary-medium;
  border-radius: $border-radius;
  padding: $padding-margin-between-components-mobile;

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 40%;
    padding: $padding-margin-between-components-tablet;
  }

  .all-game__item-image {
    border-radius: 10px;
    border: none;
    width: 100%;
  }
  .all-game__item-title {
    margin-top: -5px;
    margin-bottom: 5px;
  }
}
