@use "./variables" as *;
@use "./mixins" as *;

.button {
  @include buttonLabel;
  & {
    height: 2.5rem;
    background-color: $primary-medium;
    border-radius: 0.25rem;
    color: $primary-bright;
    border: none;
    width: 100%;
    background-position: 0.625rem 0.5rem;
    background-repeat: no-repeat;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: #fff;
      transition: background-color 0.2s ease; // Smooth transition
    }
  }

  @include tablet {
    padding: 0 2rem; // Fixed padding syntax
    max-width: 10rem;
  }
}

.user-avatar {
  & {
    min-width: 2.25rem;
    min-height: 2.25rem;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0;
    margin: 0;
    background-image: url("../../assets/images/user-profile.png");
    background-size: cover;
    background-position-x: -0.3rem;
    border-radius: 50%;
    background-color: $primary-bright;
  }

  @include tablet {
    min-width: 2.5rem;
    min-height: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  &--empty {
    background-image: none;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: $primary-dark;

  > * {
    // Targets only immediate children
    display: block;
    width: 100%;
  }

  ::placeholder {
    color: $primary-dark;
  }
}

.form-input {
  @include bodyCopy;
  & {
    padding: 0.75rem;
    background-color: $primary-medium;
    border-radius: 0.25rem;
    height: 2.25rem;
    width: 80%;
    color: $primary-bright;
    outline: 1px solid $primary-medium;
    border: none;

    &:focus {
      &:invalid {
        outline: 1px solid $primary-invalid;
      }

      outline: 2px solid $primary-bright;
    }

    &::placeholder {
      color: $primary-bright;
    }
  }

  @include tablet {
    padding: 0 2rem; // Fixed padding syntax
    height: 2.5rem;
  }
}
