@use "./variables" as *;

@mixin reset-margin-padding {
  & {
    margin: 0;
    padding: 0;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    & {
      @content;
    }
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    & {
      @content;
    }
  }
}

@mixin text-style($text-size, $line-height, $text-width) {
  & {
    font-size: $text-size;
    line-height: $line-height;
    font-weight: $text-width;
  }
}

@mixin PaddingBetweenComponents(
  $top: false,
  $bottom: false,
  $left: false,
  $right: false,
  $isHalf: false
) {
  @include mobilePadding($top, $bottom, $left, $right, $isHalf);
  @include tabletPadding($top, $bottom, $left, $right, $isHalf);
  @include desktopPadding($left, $right, $isHalf);
}
@mixin mobilePadding(
  $top: false,
  $bottom: false,
  $left: false,
  $right: false,
  $isHalf: false
) {
  @if $top {
    @if $isHalf {
      padding-top: $padding-margin-between-mobile-half;
    } @else {
      padding-top: $padding-margin-between-mobile;
    }
  }

  @if $bottom {
    @if $isHalf {
      padding-bottom: $padding-margin-between-mobile-half;
    } @else {
      padding-bottom: $padding-margin-between-mobile;
    }
  }

  @if $left {
    @if $isHalf {
      padding-left: $padding-margin-between-mobile-half;
    } @else {
      padding-left: $padding-margin-between-mobile;
    }
  }

  @if $right {
    @if $isHalf {
      padding-right: $padding-margin-between-mobile-half;
    } @else {
      padding-right: $padding-margin-between-mobile;
    }
  }
}

@mixin tabletPadding(
  $top: false,
  $bottom: false,
  $left: false,
  $right: false,
  $isHalf: false
) {
  @include tablet {
    @if $top {
      @if $isHalf {
        padding-top: $padding-margin-between-tablet-half;
      } @else {
        padding-top: $padding-margin-between-tablet;
      }
    }

    @if $bottom {
      @if $isHalf {
        padding-bottom: $padding-margin-between-tablet-half;
      } @else {
        padding-bottom: $padding-margin-between-tablet;
      }
    }

    @if $left {
      @if $isHalf {
        padding-left: $padding-margin-between-tablet-half;
      } @else {
        padding-left: $padding-margin-between-tablet;
      }
    }

    @if $right {
      @if $isHalf {
        padding-right: $padding-margin-between-tablet-half;
      } @else {
        padding-right: $padding-margin-between-tablet;
      }
    }
  }
}

@mixin desktopPadding($left: false, $right: false, $isHalf: false) {
  @include desktop {
    @if $left {
      @if $isHalf {
        padding-left: $padding-margin-between-tablet;
      } @else {
        padding-left: $padding-margin-between-desktop;
      }
    }

    @if $right {
      @if $isHalf {
        padding-right: $padding-margin-between-tablet;
      } @else {
        padding-right: $padding-margin-between-desktop;
      }
    }
  }
}

@mixin headlinesPaddingTopBottom {
  padding-top: $padding-headlines-top-mobile;
  padding-bottom: $padding-headlines-bottom-mobile;

  @include tablet {
    padding-top: $padding-headlines-top-tablet;
    padding-bottom: $padding-headlines-bottom-tablet;
  }
}

@mixin headlinesPaddingBottom {
  padding-bottom: $padding-headlines-bottom-mobile;

  @include tablet {
    padding-bottom: $padding-headlines-bottom-tablet;
  }
}

@mixin mainHeader {
  @include text-style(1.5rem, 2rem, 700);

  @include desktop {
    @include text-style(2.0625rem, 2.75rem, 700);
  }
}

@mixin subHeader {
  @include text-style(1rem, 1.125rem, 700);

  @include tablet {
    @include text-style(1.1875rem, 1.4rem, 700);
  }
}

@mixin sectionHeader {
  @include text-style(1rem, 1.375rem, 600);

  @include desktop {
    @include text-style(1.25rem, 1.5rem, 600);
  }
}

@mixin bodyCopy {
  @include headlinesPaddingBottom();
  @include text-style(0.875rem, 1.375rem, 400);

  @include tablet {
    @include text-style(1rem, 1.4rem, 400);
  }

  @include desktop {
    @include text-style(1.125rem, 1.4rem, 400);
  }
}

@mixin button {
  & {
    height: 2.5rem;
    background-color: $primary-medium;
    border-radius: 1.25rem;
    color: $primary-bright;
    border: none;
    width: 100%;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: $primary-bright;
      color: $primary-medium;
      transition: background-color 0.2s ease;
    }
  }

  @include text-style(0.875rem, 1.25rem, 600);
  @include tablet {
    padding: 0 2rem;
    width: auto;
    min-width: 10rem;
    max-width: auto;
    @include text-style(1rem, 1.125rem, 600);
  }
  @include desktop {
    @include text-style(1.125rem, 1.125rem, 600);
  }
}

@mixin label {
  @include text-style(0.875rem, 1.25rem, 600);
  @include tablet {
    @include text-style(16px, 1.125rem, 700);
  }
  & {
    font-weight: 400;
    width: 12.5rem;
    text-transform: uppercase;
    vertical-align: baseline;
  }
}

@mixin form {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: $primary-medium;

  * {
    display: block;
    width: 100%;
  }

  ::placeholder {
    color: $primary-dark;
  }
}

@mixin formInput {
  @include bodyCopy;
  & {
    padding: 0.75rem;
    background-color: $primary-medium;
    border-radius: 0.25rem;
    height: 2.25rem;
    width: 90%;
    color: $primary-bright;
    outline: 1px solid $primary-medium;
    border: none;

    &:focus {
      &:invalid {
        outline: 1px solid $primary-invalid;
      }

      outline: 2px solid $primary-bright;
    }

    &::placeholder {
      color: $primary-bright;
    }
  }

  @include tablet {
    padding: 0 2rem; // Fixed padding syntax
    height: 2.5rem;
  }
}
