@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main-game-list {
  display: flex;
  flex-direction: column;
  padding: 0;

  @include tablet {
    padding: 0 $padding-margin-between-tablet;
  }

  @include desktop {
    padding: 0 $padding-margin-between-desktop;
  }

  section {
    background-color: $secondary-medium;
    border-radius: $border-radius;
    width: 91%;
    margin: auto;
  }

  h1 {
    margin-left: 0.5rem;
    padding: 0 $padding-margin-between-mobile;

    @include headlinesPaddingTopBottom();
    & {
      margin-top: -0.5rem;
      @include mainHeader;
      @include tablet {
        padding-left: 2rem;
      }
    }
  }

  .all-game__item {
    background-color: $primary-medium;

    padding: $padding-margin-between-components-mobile;
    @include tablet {
      padding: $padding-margin-between-components-tablet;
    }

    & {
      border-radius: 0.625rem;
      width: 100%;
    }

    @include tablet {
      width: 45%;
    }

    @include desktop {
      width: 30%;
    }

    p {
      @include subHeader;
      & {
        font-weight: 700;
        margin-top: 0.75rem;
      }
    }
  }
}
