@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main-edit-user {
  padding: 0 $padding-margin-between-mobile;

  &__title {
    & {
      width: 100%;
      text-align: center;
      margin-top: 1rem;
    }

    @include mainHeader;
    @include headlinesPaddingBottom();
  }
  .form {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 97%;

    max-width: 43.75rem;

    @include tablet {
      padding-left: $padding-margin-between-components-tablet;
      padding-rightt: $padding-margin-between-components-tablet;
    }

    &__section-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 8rem;

      img {
        height: 100px;
        width: 100px;
      }

      button {
        margin: auto;
        padding: 0;

        @include tablet {
          min-width: 10rem;
        }
      }
    }
    &__section-right {
      width: 70%;
      padding-left: 0.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      textarea {
        padding-right: 2rem;
        padding-top: 0.35rem;
      }
      .form__input {
        margin-bottom: 1.75rem;
        padding-right: 3rem;
      }

      .form__input-error-message {
        margin-top: -1.65rem;
        margin-bottom: 0.25rem;
      }
    }
  }
}
