@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
  &__header {
    @include sectionHeader;
  }
  & {
    padding: 0;
  }

  &__and-form {
    .comment-form-container {
      display: flex;
      width: 100%;
      gap: $gap;
      padding-bottom: 1.125rem;
      margin-top: $padding-margin-between-components-mobile;
      border-bottom: 1px solid $secondary-light;
    }
  }
  .user-avatar__image-container {
    max-width: 48px;
    max-height: 48px;
  }
}

.comment-form {
  @include form;
  & {
    flex-direction: column;
    gap: $gap;

    @include tablet {
      align-items: flex-end;
      padding-bottom: 0;
    }
  }

  &__comment {
    @include formInput;
    & {
      width: 100%;
      height: 6.25rem;
      padding-top: $padding-margin-between-mobile-half;
      padding-left: $padding-margin-between-components-mobile;
      font-family: $font-family;
      resize: none;

      @include tablet {
        height: 3.75rem;
      }
    }
  }

  &__button {
    @include button;
    @include tablet {
      max-width: 12.5rem;
    }
  }

  &__label {
    @include sectionHeader;
  }

  &__error-message {
    @include bodyCopy;
    & {
      text-transform: none;
      padding-bottom: 0.5rem;
      color: $primary-invalid;
    }
  }
}

.comments__container {
  background-color: #66121159;
}

.comment {
  display: flex;
  width: 100%;
  gap: $gap;
  padding: 0;
  padding-top: $gap;
  border-bottom: 1px solid $primary-bright;
  &:nth-child(even) {
    background-color: #330a08;
  }
  @include tablet {
    padding-top: 1.75rem;
    padding-bottom: 1rem;
  }

  @include desktop {
    padding-right: $padding-margin-between-components-tablet;

    &:last-child {
      border-bottom: none;
    }
  }

  .body-copy {
    padding-bottom: 0.625rem;
  }

  &__texts {
    width: 100%;

    .body-copy {
      text-align: justify;
    }
  }

  &__pair-info {
    display: flex;
    justify-content: space-between;
  }

  &__username {
    @include bodyCopy;
    & {
      width: 100%;
      font-weight: 600;
      padding-bottom: 0.5rem;
    }
  }

  &__date {
    @include label;
    & {
      text-align: right;
    }
  }

  &__delete-like-container {
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    div {
      display: flex;
      gap: 0.5rem;
      margin-right: -1.125rem;
      padding-right: $gap;
    }
  }

  &__delete {
    img {
      height: 1.375rem;
      margin-left: 1.125rem;
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }

  &__like {
    img {
      height: 1.375rem;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
}
