@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main-leaderboard {
  width: 100%;
  height: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem $padding-margin-between-mobile;

  @include tablet {
    padding: 1.5rem $padding-margin-between-tablet;
  }

  @include desktop {
    padding: 1rem $padding-margin-between-desktop;
  }
  h1 {
    @include mainHeader;
    & {
      margin-bottom: -0.25rem;
      @include tablet {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.leaderboard-list {
  & {
    background-color: $secondary-medium;
    border-radius: $border-radius;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: $gap;
    padding: 1rem $padding-margin-between-components-mobile;

    @include tablet {
      width: 70%;
    }
  }

  h1 {
    @include mainHeader;
    & {
      padding-top: $padding-headlines-top-mobile;
      padding-bottom: $padding-headlines-bottom-mobile;
      padding-left: $padding-margin-between-components-mobile;
    }
  }

  @include tablet {
    padding: 1.5rem 2rem;
  }

  @include desktop {
  }

  &__item {
    @include bodyCopy;

    & {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      color: $primary-bright;
      background-color: $primary-medium;
      height: 2.5rem;
    }
  }

  &__item--hover {
    &:hover {
      cursor: pointer;
      color: $primary-medium;
      background-color: $primary-bright;
    }
  }

  &__item-text {
    width: 1.875rem;
    text-align: center;
    padding-top: 1.25rem;
  }

  .user-avatar {
    margin-right: 1.25rem;
    margin-top: 1.45rem;
    height: 2.25rem;
    width: 2.25rem;
  }

  .leaderboard-list__item-label {
    @extend .leaderboard-list__item-text;
    @include subHeader;
    & {
      padding-top: 1.25rem;
    }

    &--rank {
      @extend .leaderboard-list__item-label;
      margin-right: 0.5rem;
      @include tablet {
        margin-right: 0;
      }
    }
    &--user {
      & {
        padding-left: 1.5rem;
        margin-right: 0.3rem;
        width: 33%;
      }

      @extend .leaderboard-list__item-label;
    }

    &--score {
      & {
        margin-right: 25px;
        text-align: center;
      }

      @extend .leaderboard-list__item-label;
    }
  }

  .leaderboard-list__item-label--avatar {
    @extend .leaderboard-list__item-label;
    width: 4.375rem;
    padding-right: 2.5rem;

    margin-right: -0.5rem;
    @include tablet {
      margin-right: 0;
    }
  }

  &__item-text:nth-child(3) {
    width: 35%;
  }
}
