@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main-user-profile {
  padding: 0 $padding-margin-between-mobile;

  &__title {
    & {
      width: 100%;
      text-align: center;
      margin-top: 1rem;
    }

    @include mainHeader;
    @include headlinesPaddingBottom();
  }

  .form {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding-left: $padding-margin-between-components-tablet;
    padding-right: $padding-margin-between-components-tablet;
    width: 100%;
    max-width: 43.75rem;

    @include tablet {
      padding-left: $padding-margin-between-components-tablet;
      padding-right: $padding-margin-between-components-tablet;
    }

    &__section-left {
      display: flex;
      flex-direction: column;
      padding-left: 1.2rem;
      width: 30%;
      height: 100%;

      img {
        height: 6.25rem;
        width: 6.25rem;
      }

      button {
        margin: auto;
        min-width: 10rem;
        padding: 0;
      }

      @include tablet {
        padding-left: 1.2rem;
        width: 20%;
      }
    }

    &__section-right {
      padding-left: 1rem;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include tablet {
        padding-left: 1.5rem;
        width: 74%;
      }

      textarea {
        padding-right: 2rem;
        padding-top: 0.35rem;
      }
      .form__input {
        margin-bottom: 1.75rem;
        padding-right: 3rem;
      }

      .form__input-error-message {
        margin-top: -1.65rem;
        margin-bottom: 0.25rem;
      }
    }
  }
}
