@use "./styles/partials/global";
@use "./styles/partials/variables" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  font-family: $font-family;
  background: linear-gradient($primary-medium, $primary-dark);
  color: $primary-bright;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
