@use "./styles/partials/global";
@use "./styles/partials/variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  max-width: 100vw;
  font-family: $font-family;
  // background-color: $primary-medium;
  background: linear-gradient($primary-medium, $primary-dark);
  color: $primary-bright;
}

a {
  text-decoration: none;
}
