@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {
  position: relative;
  width: 70%;
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: start;
  margin: auto;

  @include tablet {
    width: 97%;
  }

  @include desktop {
    max-width: 60vw;
    width: 64%;
  }

  &__background {
    width: 80%;
    height: auto;
    object-fit: contain;
    object-position: right center;
  }
  &__leaderboard-container {
    width: 24.1%;

    height: auto;
    object-fit: contain;
    object-position: left center;
  }
}
