@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero {
  position: relative;
  width: 96%;
  margin: auto;

  @include tablet {
    width: 96%;
  }

  @include desktop {
    width: 64%;
    margin-top: 1.5rem;
  }

  &__images {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: start;
  }

  &__background {
    width: 80%;
    height: auto;
    object-fit: contain;
    object-position: right center;

    @include desktop {
      border-top-left-radius: 5%;
      border-bottom-left-radius: 5%;
    }
  }

  &__leaderboard-container {
    width: 24.1%;
    height: auto;
    object-fit: contain;
    object-position: left center;

    @include desktop {
      border-top-right-radius: 5%;
      border-bottom-right-radius: 5%;
    }
  }

  &__contents {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: left;
    padding-left: 0;
    gap: 6%;
    @include desktop {
      padding-left: 1%;
    }
  }

  &__video-player {
    background-color: $primary-dark;
    margin: auto;
    margin-top: 1.5%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
  }

  &__video {
    width: 100%;
    height: 100%;
    border-radius: 8%;
    object-fit: fill;
    object-position: 0 -6px;
    border: 3px solid #b51d368e;

    @include tablet {
      border: 4px solid #b51d368e;
    }

    @include desktop {
      border: 5px solid #b51d368e;
    }
  }

  &__leaderboard-list {
    margin-top: 2.7%;
    background-color: rgba(0, 255, 255, 0.199);
    border-radius: 2%;
  }
}

.featured-games {
  padding: $padding-headlines-top-mobile;

  height: 100%;
  width: 100%;
  background-color: $secondary-medium;

  &__list {
    padding-top: $padding-headlines-top-mobile;
    display: flex;
  }

  &__item {
    border-radius: 10px;
    background-color: $primary-medium;
    width: 16%;

    padding: 1rem;
  }

  &__link {
  }
  &__item-contents {
    border-radius: 20px;
  }
  &__item-image {
    border: 0.25rem solid $primary-bright;
    width: 100%;
    border-radius: 1.25rem;

    &:hover {
      cursor: pointer;
      background-color: $primary-medium;
      & {
        border: 0.25rem solid $secondary-light;
      }
    }
  }

  &__item-title {
    @include subHeader;
    & {
      text-decoration: none;
      text-align: center;
      padding-top: 16px !important;
      padding-bottom: 16px !important;
      text-transform: uppercase;
      margin: 0;
      color: $primary-bright;
    }
  }

  &__preview-button-container {
    background-color: $secondary-medium;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
